<h1>Indiens#new</h1>
<p>Find me in app/views/indiens/new.html.erb</p>






<form action="/indiens" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Name: </label>
  <input type="text" name="indien[name]" id="name">

  <label for="address">Surname: </label>
  <input type="text" name="indien[surname]" id="surname">

  <label for="address">Birthdate: </label>
  <input type="date" name="indien[birthdate]" id="birthdate">

  <label for="address">Ancestor: </label>
  <input type="text" name="indien[ancestor]" id="ancestor">

  <label for="address">Longitude: </label>
  <input type="text" name="indien[longitude]" id="longitude">

  <label for="address">Latitude: </label>
  <input type="text" name="indien[latitude]" id="latitude">


  <input type="submit">
</form>